/* =============
    follow-us
============= */

#follow-us{

    ul{ 
        display: grid;
        gap: 24px;
        grid-template-rows: repeat(4, 24px, );
        li{
           
        }
    }
}